.parent {
  display: grid;
  grid-template-columns: 150px 250px 350px 550px;
  gap: 50px;
  justify-content: center;
}

.parent div {
  background-color: rgb(148, 247, 247);
  margin: 10px 10px;
  padding: 50px;
  border-radius: 1rem;
}

.div1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}
