.grand {
  display: flex;
  justify-content: center;
}

.parent {
  border: 1px solid rgb(131, 123, 123);
  width: 1500px;
  height: 600px;
  display: flex;
  /* flex-wrap: wrap;
  align-content: center; */
  /* align-content only works with flex-wrap:wrap */
  align-items: flex-start;
  padding: 10px;
  gap: 100px;
}
.child {
  border: 1px solid rgb(95, 20, 20);
  padding: 10px;
  background: #fc6565;
  width: 150px;
  height: 100px;
}

.item-1 {
  flex-grow: 1;
  /* flex-shrink: 5; */
  /* flex-basis: 1; */
  /* flex: 1; */
  /* align-self: flex-start; */
  /* order: 1; */
}
